body{
    background:pink;
    font-family: 'Courier New', Courier, monospace
}

h1{
    padding-top:20px;
}
nav{
    position: fixed;
}
nav a{
    color:black;
    text-decoration: none;
}

section{
    padding:10px;
}

#About{
    text-align: center;
}

h2{
    font-size: larger;
    font-weight: 900;
    color: red;
}

label[for="email"]{
    margin-right:20px;
}

#Projects ul{
    display:flex; 
    gap:50px;
}
  
@media (min-width:320px){/*mobile*/
    /*header(1)*/h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;/*change*/
        color:Red; /*change*/
    }
    /*Experience(2)*/#Experience{
        background-color: rgb(203, 194, 194);/*change*/
        color:black;/*change*/
    }
    
    #date{
        text-align: right;
    }
    .exp-container{
        display:flex;
        flex-direction: column;
    }

    /*Connect(3)*/#Connect img{
        width:50px;/*change*/
    }
    
    .connect-container{
        display:flex;
        flex-direction: row;
        justify-content: left;/*change*/
    }

    

}

@media (min-width:1025px){/*desktop*/
    /*header(1)*/h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 50px;/*change*/
        color:black; /*change*/
    }

    /*Experience(2)*/#Experience{
        background-color: pink;/*change*/
        color:black/*change*/
    }
    
    #date{
        text-align: right;
    }
    .exp-container{
        display:flex;
        flex-direction: column;
    }

    /*Connect(3)*/#Connect img{
        width:100px;/*change*/
    }
    
    .connect-container{
        display:flex;
        flex-direction: row;
        gap:100px;
        justify-content: center;/*change*/
    }

    input{
        width: 300px;
    }
    
    textarea{
        width:300px
    }

    button{
        width:300px;
        height:50px;
    }
}
